---
name: Google Site Verification
description: <p>The Google Site Verification API lets you develop applications or
  services that automate the process of verifying that the authenticated user owns
  a domain or website. This is important, since some Google services can only be used
  by site owners.</p>
image: http://api.specificationtoolbox.com/images/service-providers/google-site-verification.jpg
created: "2020-12-23"
modified: 2020-12-24PST10:05:00-28800
specificationVersion: "0.14"
x-rank: "9"
x-alexaRank: "1"
url: http://api.specificationtoolbox.com/resources/service-providers/google-site-verification/
tags:
- Security
- Relative Data
- Links
- Have API Paths
- Have API
- API Service Provider
- API Provider
apis: []
x-common:
- type: x-blog
  url: https://developers.googleblog.com
- type: x-code
  url: https://developers.google.com/site-verification/libraries
- type: x-developer
  url: https://developers.google.com/
- type: x-documentation
  url: https://developers.google.com/site-verification/v1/
- type: x-website
  url: https://developers.google.com/site-verification/
- type: x-getting-started
  url: https://developers.google.com/site-verification/v1/getting_started
include: []
maintainers:
- FN: Kin Lane
  x-twitter: apievangelist
  email: info@apievangelist.com
...
