<!--Instagram Gallery-->
<div class="instagram-gallery">
  <div class="gallery-outer clearfix">
     <h2>Follow on Instagram</h2>
     <!--Default Portfolio Item-->
     <div class="default-portfolio-item">
        <div class="inner-box">
           <figure class="image-box"><img src="images/gallery/instagram-1.jpg" alt=""></figure>
           <!--Overlay Box-->
           <div class="overlay-box">
              <div class="overlay-inner">
                 <div class="content">
                    <a href="images/gallery/instagram-1.jpg" data-fancybox="images" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!--Default Portfolio Item-->
     <div class="default-portfolio-item">
        <div class="inner-box">
           <figure class="image-box"><img src="images/gallery/instagram-2.jpg" alt=""></figure>
           <!--Overlay Box-->
           <div class="overlay-box">
              <div class="overlay-inner">
                 <div class="content">
                    <a href="images/gallery/instagram-2.jpg" data-fancybox="images" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!--Default Portfolio Item-->
     <div class="default-portfolio-item">
        <div class="inner-box">
           <figure class="image-box"><img src="images/gallery/instagram-3.jpg" alt=""></figure>
           <!--Overlay Box-->
           <div class="overlay-box">
              <div class="overlay-inner">
                 <div class="content">
                    <a href="images/gallery/instagram-3.jpg" data-fancybox="images" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!--Default Portfolio Item-->
     <div class="default-portfolio-item">
        <div class="inner-box">
           <figure class="image-box"><img src="images/gallery/instagram-4.jpg" alt=""></figure>
           <!--Overlay Box-->
           <div class="overlay-box">
              <div class="overlay-inner">
                 <div class="content">
                    <a href="images/gallery/instagram-4.jpg" data-fancybox="images" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!--Default Portfolio Item-->
     <div class="default-portfolio-item">
        <div class="inner-box">
           <figure class="image-box"><img src="images/gallery/instagram-5.jpg" alt=""></figure>
           <!--Overlay Box-->
           <div class="overlay-box">
              <div class="overlay-inner">
                 <div class="content">
                    <a href="images/gallery/instagram-5.jpg" data-fancybox="images" data-caption="" class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery"><span class="fa fa-search"></span></a>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
