---
layout: default
title: Home
---

{% include slider.html %}

<!--Services Posts-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include specifications/specifications-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include advertising/advertising-widget.html %}

                 {% include specifications/specifications-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--End Services Posts-->

{% include slider.html %}

<!--News Posts-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include news/news-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include advertising/advertising-widget.html %}

                 {% include news/news-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--End News Posts-->

{% include advertising/full-width-ad-1.html %}

<!--Services-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% assign services_listing_count = 6 %}
          {% assign services_tag_height = 500 %}
          {% include services/services-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include advertising/advertising-widget.html %}

                 {% include services/services-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--Services-->

{% include advertising/full-width-ad-2.html %}

<!--Tools-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% assign tools_listing_count = 8 %}
          {% assign tools_tag_height = 500 %}
          {% include tools/tools-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include advertising/advertising-widget.html %}

                 {% include tools/tools-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--Tools-->

{% include advertising/full-width-ad-3.html %}

<!--Services-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% assign extensions_listing_count = 6 %}
          {% assign extensions_tag_height = 500 %}
          {% include extensions/extensions-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include advertising/advertising-widget.html %}

                 {% include extensions/extensions-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--Services-->

{% include advertising/full-width-ad-3.html %}

<!--Videos-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include videos/videos-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include advertising/advertising-widget.html %}

                 {% include videos/videos-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--Videos-->

{% include advertising/full-width-ad-4.html %}

<!--Blog Posts-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include blogs/blog-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include advertising/advertising-widget.html %}

                 {% include blogs/blog-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--End Blog Posts-->

{% include advertising/full-width-ad-5.html %}
