---
layout: default
title: Home
---

{% include slider.html %}

<!--News Posts-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include news/news-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include tweets/sidebar-tweet-widget.html %}

                 {% include advertising/advertising-widget.html %}

                 {% include news/news-widget.html %}

                 {% include news/news-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--End News Posts-->

{% include advertising/full-width-ad.html %}

<!--Service Providers-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include service-providers/service-providers-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include tweets/sidebar-tweet-widget.html %}

                 {% include advertising/advertising-widget.html %}

                 {% include service-providers/service-providers-widget.html %}

                 {% include service-providers/service-providers-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--Service Providers-->

{% include advertising/full-width-ad.html %}

<!--Tools-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include tools/tools-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include tweets/sidebar-tweet-widget.html %}

                 {% include advertising/advertising-widget.html %}

                 {% include tools/tools-widget.html %}

                 {% include tools/tools-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--Tools-->

{% include advertising/full-width-ad.html %}

<!--Videos-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include videos/videos-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include tweets/sidebar-tweet-widget.html %}

                 {% include advertising/advertising-widget.html %}

                 {% include videos/videos-widget.html %}

                 {% include videos/videos-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--Videos-->

{% include advertising/full-width-ad.html %}

<!--Blog Posts-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include blogs/blog-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include social/social-widget.html %}

                 {% include advertising/advertising-widget.html %}

                 {% include blogs/blog-widget.html %}

                 {% include blogs/blog-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--End Blog Posts-->

{% include advertising/full-width-ad.html %}
