---
layout: default
title: News
---

<!--News Posts-->
 <div class="sidebar-page-container" style="padding-top: 40px;">
    <div class="auto-container">
       <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include news/news-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                <center><button class="button button4"><a href="/news/add/" style="color:#FFF;">Add or Update News in the Toolbox</a></button></center><br>

                 {% include advertising/advertising-widget.html %}

                 {% include news/news-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--End News Posts-->
