---
layout: default
title: People
---

<!--Service Providers-->
 <div class="sidebar-page-container" style="padding-top: 40px;">
    <div class="auto-container">
       <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% assign tag_match = "OpenAPI" %}
          {% assign tag_title = "OpenAPI Specification People" %}
          {% assign tag_desc = "These are people involved with moving forward the OpenAPI specification." %}
          {% include people/people-tag-listing.html %}

          {% assign tag_match = "AsyncAPI" %}
          {% assign tag_title = "AsyncAPI Specification People" %}
          {% assign tag_desc = "These are people involved with moving forward the AsyncAPI specification." %}
          {% include people/people-tag-listing.html %}

          {% assign tag_match = "JSON Schema" %}
          {% assign tag_title = "JSON Schema Specification People" %}
          {% assign tag_desc = "These are people involved with moving forward the JSON Schema specification." %}
          {% include people/people-tag-listing.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                <center><button class="button button4"><a href="/people/add/" style="color:#FFF;">Add or Update People in the Toolbox</a></button></center><br>

                 {% include advertising/advertising-widget.html %}

                 {% include people/people-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--Service Providers-->
