 <!--Main Footer-->
 <footer class="main-footer">
    <div class="widgets-section">
       <div class="auto-container">
          <div class="row clearfix">
             <!--Widget Column-->
             <div class="widget-column col-lg-4 col-md-6 col-sm-12">
                <div class="footer-widget tweets-widget">
                   <h2>Tweeter Feeds</h2>
                   <!--Tweet-->
                   <div class="tweet">
                      <div class="icon"><span class="fa fa-twitter"></span></div>
                      <div class="text">
                         <a href="#">@ Barished all share them a man said inspet.</a>
                      </div>
                      <span class="days">about 2 days ago</span>
                   </div>
                   <!--Tweet-->
                   <div class="tweet">
                      <div class="icon"><span class="fa fa-twitter"></span></div>
                      <div class="text">
                         <a href="#">@ Well wors all share them a women said inspet.</a>
                      </div>
                      <span class="days">about 8 weeks ago</span>
                   </div>
                </div>
             </div>
             <!--Widget Column / Instagram Widget-->
             <div class="widget-column col-lg-4 col-md-6 col-sm-12">

             </div>
             <!--Widget Column / Newsletter Widget-->
             <div class="widget-column col-lg-4 col-md-6 col-sm-12">
                <div class="footer-widget newsletter-widget">
                   <h2>Newsletter</h2>
                   <div class="newsletter-form">
                      <form method="post" action="contact.html">
                         <div class="form-group">
                            <input type="text" name="name" value="" placeholder="Name" required="">
                         </div>
                         <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Email" required="">
                         </div>
                         <div class="form-group">
                            <button type="submit" class="theme-btn btn-style-one">Subscribe</button>
                         </div>
                      </form>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!--Footer Bottom-->
    <div class="footer-bottom">
       <div class="auto-container">
          <div class="logo">
             <a href="index.html"><img src="/images/the-api-specification-toolbox-white.png" alt="" width="100%" /></a>
          </div>
       </div>
       <!--Copyright Section-->
       <div class="copyright-section">
          <div class="auto-container">
             <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12">
                   <ul class="footer-nav">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Contacts</a></li>
                   </ul>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                   <div class="copyright">&copy; Copyright Noor_tech. All rights reserved.</div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!--End Main Footer-->
