 <!--Main Footer-->
 <footer class="main-footer">
    <!--Footer Bottom-->
    <div class="footer-bottom">
       <div class="auto-container">
          <div class="logo">
             <a href="index.html"><img src="/images/the-api-specification-toolbox-white.png" alt="" width="100%" /></a>
          </div>
       </div>
       <!--Copyright Section-->
       <div class="copyright-section">
          <div class="auto-container">
             <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12">
                   <ul class="footer-nav">
                      <li><a href="/">Home</a></li>
                      <li><a href="/about/">About</a></li>
                      <li><a href="/apis/">APIs</a></li>
                      <li><a href="/lifecycle/outline/">Lifecycle Outline</a></li>
                   </ul>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                   <div class="copyright">A <a href="https://postman.com" style="color: #FFF;">Postman</a> and <a href="https://apievangelist.com" style="color: #FFF;">API Evangelist</a> project to help define the API space.</div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!--End Main Footer-->
