 <!-- Main Header -->
 <header class="main-header">
    <!--Header Top-->
    <div class="header-top">
       <div class="auto-container">
          <div class="row clearfix">
             <!--Top Left-->
             <div class="top-left col-lg-4 col-md-12 col-sm-12">
                <ul class="clearfix">
                   <li>{{ site.tagline }}</li>
                </ul>
             </div>
             <!--Top Right-->
             <div class="top-right pull-right col-lg-8 col-md-12 col-sm-12">
                <ul class="social-nav">
                   <li><a href="https://twitter.com/APISpecToolbox"><img src="/images/social/twitter-logo-white.png" width="22"></a></li>
                   <li><a href="https://github.com/api-specification-toolbox/toolbox"><img src="/images/social/github-logo-white.png" width="36"></a></li>
                </ul>
             </div>
          </div>
       </div>
    </div>

    <!--Header-Upper-->
    <div class="header-upper">
       <div class="auto-container">
          <div class="logo-outer">
             <div class="logo"><a href="index.html"><img src="/images/the-api-specification-toolbox-black.png" alt="" width="100%" /></a></div>
          </div>
       </div>
    </div>
    <!--End Header Upper-->

    <!--Header Lower-->
    <div class="header-lower">
       <div class="auto-container">
          <div class="nav-outer clearfix">
             <!-- Main Menu -->
             <nav class="main-menu navbar navbar-expand-lg bg-light">
                 <div class="navbar-header">
                     <!-- Toggle Button -->
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span>
                     </button>
                 </div>
                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                    <center>
                    <ul class="navigation clearfix">
                        <li class="{% if page.title == 'Home' %}current {% endif %}dropdown">
                            <a href="/">Home</a>
                        </li>
                        <li class="{% if page.title == 'Extensions' %}current {% endif %}dropdown">
                            <a href="/specifications/">Specs</a>
                        </li>                        
                        <li class="{% if page.title == 'Extensions' %}current {% endif %}dropdown">
                            <a href="/extensions/">Extensions</a>
                        </li>
                        <li class="{% if page.title == 'Sectors' %}current {% endif %}dropdown">
                            <a href="/sectors/">Sectors</a>
                        </li>
                        <li class="{% if page.title == 'Services' %}current {% endif %}dropdown">
                            <a href="/services/">Services</a>
                        </li>
                        <li class="{% if page.title == 'Tools' %}current {% endif %}dropdown">
                            <a href="/tools/">Tools</a>
                        </li>
                        <li class="{% if page.title == 'Projects' %}current {% endif %}dropdown">
                            <a href="/projects/">Projects</a>
                        </li>
                        <li class="{% if page.title == 'People' %}current {% endif %}dropdown">
                            <a href="/news/">News</a>
                        </li>
                        <li class="{% if page.title == 'People' %}current {% endif %}dropdown">
                            <a href="/videos/">Videos</a>
                        </li>
                        <li class="{% if page.title == 'People' %}current {% endif %}dropdown">
                            <a href="/podcasts/">Podcasts</a>
                        </li>
                        <li class="{% if page.title == 'People' %}current {% endif %}dropdown">
                            <a href="/learning/">Learn</a>
                        </li>                                                                        
                        <li class="{% if page.title == 'People' %}current {% endif %}dropdown">
                            <a href="/blog/">Blog</a>
                        </li>                        
                    </ul>
                    </center>
                </div>
             </nav>
          </div>
       </div>
    </div>
    <!--End Header Lower-->
 </header>
 <!--End Header Style Two -->
