<!DOCTYPE html>
<html>
   <head>

      <meta charset="utf-8">
      <title>{{ site.title }}</title>
      <link href="/css/bootstrap.css" rel="stylesheet">
      <link href="/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
      <link href="/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
      <link href="/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
      <link href="/css/style.css" rel="stylesheet">
      <link href="/css/responsive.css" rel="stylesheet">
      <link href="/css/color-switcher-design.css" rel="stylesheet">
      <link id="theme-color-file" href="/css/color-themes/default-theme.css" rel="stylesheet">
      <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
      <link rel="icon" href="/images/favicon.png" type="image/x-icon">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

      <style>
        .button {
          background-color: #000;
          border: none;
          color: white;
          padding: 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 5px;
        }

        .button1 {border-radius: 2px;}
        .button2 {border-radius: 4px;}
        .button3 {border-radius: 8px;}
        .button4 {border-radius: 12px;}
        .button5 {border-radius: 50%;}
      </style>

   </head>
   <body>

      <div class="page-wrapper">

         <!-- Preloader -->
         <div class="preloader"></div>