<!--Main Slider-->
<section class="main-slider">

    <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>

                <li data-description="OpenAPI Stickers at ASC" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="/images/slider/openapi-stickers.jpg" data-title="OpenAPI" data-transition="parallaxvertical">
                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="/images/slider/openapi-stickers.jpg">

                <div class="tp-caption"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['600','600','650','450']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['-20','0','0','0']"
                data-x="['right','right','right','right']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                style="z-index: 7; white-space: nowrap;text-transform:left;">
                	<div class="slider-content">
                    	<h2>Get Involved with the OpenAPI Specification</h2>
                        <div class="text">News, services, tooling, videos, and other resources helping you apply the OpenAPI specification.</div>
                        <a href="#" class="theme-btn btn-style-two">Learn More</a>
                    </div>
                </div>

                </li>

                <li data-description="Learn more about GraphQL" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="/images/slider/why-graphql.jpg" data-title="GraphQL" data-transition="parallaxvertical">
                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="/images/slider/why-graphql.jpg">

                <div class="tp-caption"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['600','600','650','450']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['-20','0','0','0']"
                data-x="['right','right','right','right']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                style="z-index: 7; white-space: nowrap;text-transform:left;">
                	<div class="slider-content">
                    	<h2>Understanding the Impact of GraphQL</h2>
                        <div class="text">Diving into everything GraphQL, learning about news, services, tooling, and other aspects of GraphQL.</div>
                        <a href="#" class="theme-btn btn-style-two">Learn More</a>
                    </div>
                </div>

                </li>

                <li data-description="Learn more about AsyncAPI" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="/images/slider/asyncapi-fran.jpg" data-title="AsyncAPI" data-transition="parallaxvertical">
                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="/images/slider/asyncapi-fran.jpg">

                <div class="tp-caption"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['600','600','650','450']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['-20','0','0','0']"
                data-x="['right','right','right','right']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                style="z-index: 7; white-space: nowrap;text-transform:left;">
                	<div class="slider-content">
                    	<h2>The Impact AsyncAPI is Having</h2>
                        <div class="text">Looking at the expanding API toolbox and how AsyncAPI is impacting the API specifications landscape.</div>
                        <a href="#" class="theme-btn btn-style-two">Learn More</a>
                    </div>
                </div>

                </li>

                <li data-description="Learn more about GraphQL" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="/images/slider/json-schema.jpg" data-title="GraphQL" data-transition="parallaxvertical">
                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="/images/slider/json-schema.jpg">

                <div class="tp-caption"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingtop="[0,0,0,0]"
                data-responsive_offset="on"
                data-type="text"
                data-height="none"
                data-width="['600','600','650','450']"
                data-whitespace="normal"
                data-hoffset="['15','15','15','15']"
                data-voffset="['-20','0','0','0']"
                data-x="['right','right','right','right']"
                data-y="['middle','middle','middle','middle']"
                data-textalign="['top','top','top','top']"
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                style="z-index: 7; white-space: nowrap;text-transform:left;">
                	<div class="slider-content">
                    	<h2>The Role of JSON Schema</h2>
                        <div class="text">Looking at the role that JSON Schema is playing across the API sector, helping validate and stablize how APIs are operating.</div>
                        <a href="#" class="theme-btn btn-style-two">Learn More</a>
                    </div>
                </div>

                </li>

            </ul>

        </div>
    </div>
</section>
<!--End Main Slider-->
