<!--Adds Widget-->
<div class="sidebar-widget sidebar-adds-widget">
   <center><a href="https://www.openapis.org/" target="_blank"><img src="https://kinlane-productions2.s3.amazonaws.com/specifications/openapi.png" width="75%" style="padding: 5px; border: 1px solid #000;" /></a></center>
</div>
<!--Ends Adds Widget-->

<!--Adds Widget-->
<div class="sidebar-widget sidebar-adds-widget">
<center><a href="https://www.asyncapi.com/" target="_blank"><img src="https://kinlane-productions2.s3.amazonaws.com/asyncapi/asyncapi-horiozontal.png" width="75%" style="padding: 5px; border: 1px solid #000;" /></a></center>
</div>
<!--Ends Adds Widget-->

<!--Adds Widget-->
<div class="sidebar-widget sidebar-adds-widget">
<center><a href="https://json-schema.org/" target="_blank"><img src="https://kinlane-productions2.s3.amazonaws.com/specifications/json-schema.png" width="75%" style="padding: 5px; border: 1px solid #000;" /></a></center>
</div>
<!--Ends Adds Widget-->
