---
layout: default
title: Lifecycle
---

<!--Blog Posts-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 0px;">
      <!--Content Side-->
      <div class="content-column col-lg-12 col-md-12 col-sm-12" style="padding: 50px;">

        <h1>API Lifecycle Outline</h1>
        <p>This is an outline of services organized by relevant areas of an API lifecycle, trying to see everything across the entire spectrum.</p>

        <hr>
        {% assign show_tag = 'Design' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Generators' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Parsers' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Converters' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Validators' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Editors' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Changes' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Scraping' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Data' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Database' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Storage' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Compute' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Containers' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Serverless' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Search' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Real Time' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'gRPC' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'GraphQL' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Hypermedia' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Deployment' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'DNS' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Encryption' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Portals' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Documentation' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Authentication' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Management' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Gateway' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Proxies' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Caching' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Mocking' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Code Generation' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Orchestration' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Testing' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Monitoring' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Performance' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Security' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Service Bus' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Service Mesh' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'IDE' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'CLI' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Webhooks' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Events' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Tracing' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Visualizations' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Discovery' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Integrations' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><hr>
        {% assign show_tag = 'Governance' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <hr>
        <p>This list is driven by tools and services in the API Specification Toolbox that have been tagged with one of these areas. If there is a tool not represented here you can add a YAML entry for a tool or service using a pull request on the Github repository, or you can suggest it be added via a Github issue for the repository. If you just want to add a tag to an existing entry, feel free to update the existing YAML for each entry.</p>
        <br><br>
      </div>

  </div>
</div>
<!--End Blog Posts-->
