<!--Category Widget-->
<div class="sidebar-widget categories-widget">
  <div class="sidebar-title">
     <h2>Tool Topics</h2>
  </div>
  <div  style="overflow: auto; height: 500px;">
    <ul class="cat-list">
      {% assign tags = site.data.tools-tags  %}
      {% assign tags = tags | sort: 'name' %}
      {% for tag in tags limit: 25 %}
        <li class="clearfix"><a href="/topics/{{ tag.name | replace: " ", "-" | downcase }}/">{{ tag.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
<!--End Category Widget-->
