---
layout: default
title: Home
---

<!--Blog Posts-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">

     <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-8 col-md-12 col-sm-12">

          {% include blogs/blog-tag-tabs.html %}

        </div>

        <!--Sidebar Side-->
        <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
           <aside class="sidebar default-sidebar">
              <div class="sidebar-inner">

                 {% include social/social-widget.html %}

                 {% include advertising/advertising-widget.html %}

                 {% include blogs/blog-widget.html %}

                 {% include blogs/blog-tag-widget.html %}

              </div>
           </aside>

        </div>

     </div>

  </div>
</div>
<!--End Blog Posts-->
