---
layout: default
title: Lifecycle
---

<!--Blog Posts-->
<div class="sidebar-page-container" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px; margin-top: 0px; padding-top: 0px;">
      <!--Content Side-->
      <div class="content-column col-lg-12 col-md-12 col-sm-12" style="padding: 50px;">

        {% assign show_tag = 'Design' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br>
        {% assign show_tag = 'Documentation' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        {% assign show_tag = 'Management' %}
        <br>
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br>
        {% assign show_tag = 'Testing' %}
        <h3 style="padding-left: 10px;">{{ show_tag }}</h3>
        {% include services/service-by-tag-listing.html %}
        {% include tools/tool-by-tag-listing.html %}
        <br><br>
      </div>

  </div>
</div>
<!--End Blog Posts-->
