 <!-- Blog Page Container -->
 <div class="blog-masory-container">
    <div class="auto-container">
       <div class="masonry-items-container row clearfix">

          <!-- News Block -->
          <div class="updated-news-block masonry-item col-lg-4 col-md-6 col-sm-12">
             <div class="inner-box">
                <div class="middle-box">
                   <h3><a href="blog-single.html">Our operations worldwide have been neutral.</a></h3>
                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                </div>
                <div class="upper-box">
                   <div class="title">Post Info</div>
                   <ul>
                      <li>By Fashion</li>
                      <li>Business Growth</li>
                   </ul>
                </div>
                <div class="lower-box">
                   <div class="image">
                      <img src="images/resource/news-28.jpg" alt="" />
                      <div class="overlay-box">
                         <div class="overlay-inner">
                            <a class="read-more" href="blog-single.html"><span class="icon flaticon-arrow-pointing-to-right"></span> Read More</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>

          <!-- News Block -->
          <div class="updated-news-block masonry-item col-lg-4 col-md-6 col-sm-12">
             <div class="inner-box">
                <div class="middle-box">
                   <h3><a href="blog-single.html">A Traveler without observation is a bird without wings.</a></h3>
                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                </div>
                <div class="upper-box">
                   <div class="title">Post Info</div>
                   <ul>
                      <li>By Fashion</li>
                      <li>Business Growth</li>
                   </ul>
                </div>
                <div class="lower-box">
                   <div class="image">
                      <img src="images/resource/news-28.jpg" alt="" />
                      <div class="overlay-box">
                         <div class="overlay-inner">
                            <a class="read-more" href="blog-single.html"><span class="icon flaticon-arrow-pointing-to-right"></span> Read More</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>

          <!-- News Block -->
          <div class="updated-news-block masonry-item col-lg-4 col-md-6 col-sm-12">
             <div class="inner-box">
                <div class="middle-box">
                   <h3><a href="blog-single.html">A Traveler without observation is a bird without wings.</a></h3>
                   <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit...</div>
                </div>
                <div class="upper-box">
                   <div class="title">Post Info</div>
                   <ul>
                      <li>By Fashion</li>
                      <li>Business Growth</li>
                   </ul>
                </div>
                <div class="lower-box">
                   <div class="image">
                      <img src="images/resource/news-28.jpg" alt="" />
                      <div class="overlay-box">
                         <div class="overlay-inner">
                            <a class="read-more" href="blog-single.html"><span class="icon flaticon-arrow-pointing-to-right"></span> Read More</a>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>

       </div>
    </div>
 </div>
 <!--End Blog Masonry Container-->
