 <!--Blog Carousel Section-->
 <section class="blog-carousel-section grey-bg">
    <div class="auto-container">
       <div class="three-item-carousel owl-carousel owl-theme">
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-7.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Travel</a></div>
                         <h3><a href="blog-single.html">Develop a new Silk Road through Russia</a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 03, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>0</li>
                            <li><span class="icon qb-eye"></span>740</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-8.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Sports</a></div>
                         <h3><a href="blog-single.html">Does the festival have popular Design support</a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 04, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>5</li>
                            <li><span class="icon qb-eye"></span>2640</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-9.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Fashion</a></div>
                         <h3><a href="blog-single.html">What is the festival about happens </a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 05, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>9</li>
                            <li><span class="icon qb-eye"></span>1577</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-7.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Travel</a></div>
                         <h3><a href="blog-single.html">Develop a new Silk Road through Russia</a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 03, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>0</li>
                            <li><span class="icon qb-eye"></span>740</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-8.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Sports</a></div>
                         <h3><a href="blog-single.html">Does the festival have popular Design support</a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 04, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>5</li>
                            <li><span class="icon qb-eye"></span>2640</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-9.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Fashion</a></div>
                         <h3><a href="blog-single.html">What is the festival about happens </a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 05, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>9</li>
                            <li><span class="icon qb-eye"></span>1577</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-7.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Travel</a></div>
                         <h3><a href="blog-single.html">Develop a new Silk Road through Russia</a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 03, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>0</li>
                            <li><span class="icon qb-eye"></span>740</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-8.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Sports</a></div>
                         <h3><a href="blog-single.html">Does the festival have popular Design support</a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 04, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>5</li>
                            <li><span class="icon qb-eye"></span>2640</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-9.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Fashion</a></div>
                         <h3><a href="blog-single.html">What is the festival about happens </a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 05, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>9</li>
                            <li><span class="icon qb-eye"></span>1577</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-7.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Travel</a></div>
                         <h3><a href="blog-single.html">Develop a new Silk Road through Russia</a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 03, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>0</li>
                            <li><span class="icon qb-eye"></span>740</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-8.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Sports</a></div>
                         <h3><a href="blog-single.html">Does the festival have popular Design support</a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 04, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>5</li>
                            <li><span class="icon qb-eye"></span>2640</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!--News Block Three-->
          <div class="news-block-three">
             <div class="inner-box">
                <div class="image">
                   <img src="images/resource/news-9.jpg" alt="" />
                   <div class="overlay-box">
                      <a href="blog-single.html" class="play-btn"><span class="icon qb-play-arrow"></span></a>
                      <div class="content">
                         <div class="tag"><a href="blog-single.html">Fashion</a></div>
                         <h3><a href="blog-single.html">What is the festival about happens </a></h3>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 05, 2017</li>
                            <li><span class="icon fa fa-comment-o"></span>9</li>
                            <li><span class="icon qb-eye"></span>1577</li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--End Blog Carousel Section-->
