 <!--Related Posts-->
 <div class="related-posts">
    <div class="sec-title">
       <h2>Related Articles</h2>
    </div>
    <div class="related-item-carousel owl-carousel owl-theme">

       <!--News Block Two-->
       <div class="news-block-two small-block">
          <div class="inner-box">
             <div class="image">
                <a href="#"><img src="images/resource/news-40.jpg" alt="" /></a>
                <div class="category"><a href="#">Travel</a></div>
             </div>
             <div class="lower-box">
                <h3><a href="#">Elon Musk's Hyperloop vision races toward</a></h3>
                <ul class="post-meta">
                   <li><span class="icon fa fa-clock-o"></span>April 03, 2017</li>
                </ul>
             </div>
          </div>
       </div>

       <!--News Block Two-->
       <div class="news-block-two small-block">
          <div class="inner-box">
             <div class="image">
                <a href="#"><img src="images/resource/news-41.jpg" alt="" /></a>
                <div class="category"><a href="#">Sports</a></div>
             </div>
             <div class="lower-box">
                <h3><a href="#">A modern day security strategy</a></h3>
                <ul class="post-meta">
                   <li><span class="icon fa fa-clock-o"></span>April 04, 2017</li>
                </ul>
             </div>
          </div>
       </div>

    </div>
 </div>
