<!DOCTYPE html>
<html>
   <head>

      <meta charset="utf-8">
      <title>{{ site.title }}</title>
      <link href="/css/bootstrap.css" rel="stylesheet">
      <link href="/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
      <link href="/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
      <link href="/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
      <link href="/css/style.css" rel="stylesheet">
      <link href="/css/responsive.css" rel="stylesheet">
      <link href="/css/color-switcher-design.css" rel="stylesheet">
      <link id="theme-color-file" href="/css/color-themes/default-theme.css" rel="stylesheet">
      <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
      <link rel="icon" href="/images/favicon.png" type="image/x-icon">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

      <style>
        .button {
          background-color: #000;
          border: none;
          color: white;
          padding: 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          margin: 5px;
        }

        .button1 {border-radius: 2px;}
        .button2 {border-radius: 4px;}
        .button3 {border-radius: 8px;}
        .button4 {border-radius: 12px;}
        .button5 {border-radius: 50%;}
      </style>

   </head>
   <body>

      <div class="page-wrapper">

         <!-- Preloader -->
         <div class="preloader"></div>

         {% include header.html %}

         {{ content }}

         {% include footer.html %}

      </div>
      <!--End pagewrapper-->

      <!--Scroll to top-->
      <div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-angle-double-up"></span></div>

      <!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
      <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

      <script src="/js/jquery.js"></script>

      <!--Revolution Slider-->
      <script src="/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
      <script src="/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
      <script src="/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
      <script src="/plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
      <script src="/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
      <script src="/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
      <script src="/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
      <script src="/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
      <script src="/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
      <script src="/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
      <script src="/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
      <script src="/js/main-slider-script.js"></script>

      <!--End Revolution Slider-->
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/owl.js"></script>
      <script src="/js/plyr.min.js"></script>
      <script src="/js/isotope.js"></script>
      <script src="/js/appear.js"></script>
      <script src="/js/wow.js"></script>
      <script src="/js/jquery.fancybox.js"></script>
      <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/js/script.js"></script>
      <script src="/js/color-settings.js"></script>

   </body>
</html>
