---
layout: default
---
 <!--Sidebar Page Container-->
 <div class="sidebar-page-container" style="padding-top: 25px;">
    <div class="auto-container">
       <div class="row clearfix">

          <!--Content Side-->
          <div class="content-side col-lg-8 col-md-12 col-sm-12">
             <div class="content">
                <div class="blog-single">
                   <div class="inner-box">
                      <div class="upper-box">
                         <ul class="breadcrumb-bar">
                            <li><a href="#">Home</a></li>
                            <li>Featured</li>
                            <li>Movies: Midnight Special delivers a new short trailer</li>
                         </ul>
                         <ul class="tag-title">
                            <li>Featured</li>
                            <li>Travel</li>
                         </ul>
                         <h2>WordPress News Magazine Charts the Fashionable universal Theme</h2>
                         <ul class="post-meta">
                            <li><span class="icon qb-clock"></span>March 16, 2017</li>
                            <li><span class="icon qb-user2"></span>by Noor</li>
                            <li><span class="icon fa fa-comment-o"></span>3 comments</li>
                            <li><span class="icon qb-eye"></span>1524 Views</li>
                         </ul>
                         <ul class="social-icon-one alternate">
                            <li class="share">Share:</li>
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter"><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="g_plus"><a href="#"><span class="fa fa-google-plus"></span></a></li>
                            <li class="linkedin"><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                            <li class="pinteret"><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                         </ul>
                      </div>
                      <div class="text">
                         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Intege</p>
                         <div class="row clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                               <div class="image">
                                  <img src="images/resource/image-1.jpg" alt="" />
                               </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12">
                               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Vivamus element semper nisi.</p>
                            </div>
                         </div>
                         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam dictum.</p>
                         <blockquote>Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec,</blockquote>
                         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
                         <div class="row clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-12">
                               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, ipsam voluptatem quluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eutu, pretiumem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justotuio, rhoncus ut loret, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus element semper nisi. Aenean vulputate eleifend tellus.</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                               <div class="image">
                                  <img src="images/resource/image-2.jpg" alt="" />
                               </div>
                            </div>
                         </div>
                      </div>

                      <!--post-share-options-->
                      <div class="post-share-options">
                         <div class="tags clearfix"><a href="#">Design</a> <a href="#">Fashion</a> <a href="#">Money</a></div>
                      </div>

                      <!--New Article-->
                      <ul class="new-article clearfix">
                         <li><a href="#"><span class="fa fa-angle-left"></span> &ensp; &ensp; &ensp; &ensp; Previous Article</a></li>
                         <li><a href="#">Next Article &ensp; &ensp; &ensp; &ensp; <span class="fa fa-angle-right"></span></a></li>
                      </ul>
                   </div>

                   <!--Author Box-->
                   <div class="author-box">
                      <div class="author-comment">
                         <div class="inner-box">
                            <div class="image"><img src="images/resource/author-1.jpg" alt="" /></div>
                            <h4>Sandra Mavic</h4>
                            <div class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit doli. Aenean commodo ligula eget dolor. Aenean massa. Cumtipsu sociis natoque penatibus et magnis dis parturient montesti, nascetur ridiculus mus. Donec quam penatibus et magnis .</div>
                            <ul class="social-icon-two">
                               <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                               <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                               <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                               <li><a href="#"><span class="fa fa-linkedin-square"></span></a></li>
                               <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                            </ul>
                         </div>
                      </div>
                   </div>

                   {% include blogs/related.html %}

                </div>
             </div>
          </div>

          <!--Sidebar Side-->
          <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
             <aside class="sidebar default-sidebar right-sidebar">

                {% include social/social-widget.html %}

                {% include advertising/advertising-widget.html %}

                {% include blogs/blog-tag-widget.html %}

             </aside>
          </div>
       </div>
    </div>
 </div>
 <!--End Sidebar Page Container-->
