---
layout: default
---

 <!--Sidebar Page Container-->
 <div class="sidebar-page-container" style="padding-top: 25px;">
    <div class="auto-container">
       <div class="row clearfix">

          <!--Content Side-->
          <div class="content-side col-lg-8 col-md-12 col-sm-12">

             <div class="content">

                <div class="blog-single">
                   <div class="inner-box">

                      <div class="upper-box" style="border-bottom: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                         <ul class="breadcrumb-bar">
                            <li><a href="#">Home</a></li>
                            <li>Tags</li>
                            <li>{{ page.name }}</li>
                         </ul>
                      </div>

                      {% assign news = site.news %}
                      {% assign any_news = 0 %}
                      {% assign news = news | sort: 'date' | reverse %}

                      {% for entry in news %}
                         {% for tag in entry.tags %}
                          {% if tag == page.name %}
                            {% assign any_news = 1 %}
                          {% endif %}
                         {% endfor %}
                      {% endfor %}

                      {% if any_news == 1 %}
                         <div class="content">

                            <a name="news"></a>
                            <H3>News</h3>

                           <div class="row clearfix">

                            {% for entry in news %}

                               {% assign tag_match = 0 %}
                               {% for tag in entry.tags %}
                                {% if tag == page.name %}
                                  {% assign tag_match = 1 %}
                                {% endif %}
                               {% endfor %}

                               {% if tag_match == 1 %}
                                 <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                       <div class="image">
                                          <a href="{{ entry.source }}"><img src="{{ entry.image }}" alt="" style="border: 8px solid #ccc; width: 100%; height: 200px;" style="border: 8px solid #ccc; width: 100%; height: 200px;" /></a>
                                          <div class="category"><a href="blog-single.html">all</a></div>
                                       </div>
                                       <div class="lower-box">
                                          <h3><a href="{{ entry.source }}">{{ entry.title }}</a></h3>
                                          <ul class="post-meta">
                                             <li><span class="icon fa fa-clock-o"></span>{{ entry.date | date: "%b %d, %y" }}</li>
                                          </ul>
                                          <div class="text">{{ entry.details | truncate: 395 | strip_html }}</div>
                                          <a href="{{ entry.source }}" class="read-more">Read More </a>
                                       </div>
                                    </div>
                                 </div>
                               {% endif %}
                             {% endfor %}

                          </div>
                          </div>

                      {% endif %}

                      {% assign services = site.services %}
                      {% assign any_services = 0 %}
                      {% assign services = services | sort: 'name' %}

                      {% for entry in services %}
                         {% for tag in entry.tags %}
                          {% if tag == page.name %}
                            {% assign any_services = 1 %}
                          {% endif %}
                         {% endfor %}
                      {% endfor %}

                      {% if any_services == 1 %}
                         <div class="content">

                            <a name="services"></a>
                            <H3>Services</h3><br>

                            <div class="row clearfix">

                            {% for entry in services %}

                               {% assign tag_match = 0 %}
                               {% for tag in entry.tags %}
                                {% if tag == page.name %}
                                  {% assign tag_match = 1 %}
                                {% endif %}
                               {% endfor %}

                               {% if tag_match == 1 %}
                                <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                                  <div class="inner-box">
                                     <div class="image">
                                        <a href="{{ entry.url }}"><img src="{{ entry.image }}" alt="" style="border: 8px solid #ccc; width: 100%; height: 200px;" /></a>
                                     </div>
                                     <div class="lower-box">
                                        <h3><a href="{{ entry.url }}">{{ entry.name }}</a></h3>
                                        <ul class="post-meta">
                                           <li><span class="icon fa fa-clock-o"></span>{{ entry.modified | date: "%b %d, %y" }}</li>
                                        </ul>
                                        <div class="text">{{ entry.description | truncate: 395 | strip_html }}</div>
                                        <a href="{{ entry.url }}" class="read-more">Read More </a>
                                     </div>
                                  </div>
                                </div>
                               {% endif %}

                             {% endfor %}

                           </div>
                          </div>
                        {% endif %}

                        {% assign any_tools = 0 %}
                        {% assign tools = site.tools %}
                        {% assign tools = tools | sort: 'name' %}

                        {% for entry in tools %}
                           {% for tag in entry.tags %}
                            {% if tag == page.name %}
                              {% assign any_tools = 1 %}
                            {% endif %}
                           {% endfor %}
                        {% endfor %}

                        {% if any_tools == 1 %}
                         <div class="content">

                            <a name="tools"></a>
                            <H3>Tools</h3>

                            <div class="row clearfix">
                            {% for entry in tools %}

                               {% assign tag_match = 0 %}
                               {% for tag in entry.tags %}
                                {% if tag == page.name %}
                                  {% assign tag_match = 1 %}
                                {% endif %}
                               {% endfor %}

                               {% if tag_match == 1 %}
                                 <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                       <div class="image">
                                          <img src="{{ entry.image }}" alt="" style="border: 8px solid #ccc; width: 100%; height: 200px;" style="border: 8px solid #ccc; width: 100%; height: 200px;" />
                                       </div>
                                       <div class="lower-box">
                                          <h3><a href="{{ entry.url }}">{{ entry.name }}</a></h3>
                                          <ul class="post-meta">
                                             <li><span class="icon fa fa-clock-o"></span>{{ entry.modified | date: "%b %d, %y" }}</li>
                                          </ul>
                                          <div class="text">{{ entry.description | truncate: 395 | strip_html }}</div>
                                          <a href="{{ entry.url }}" class="read-more">Read More </a>
                                       </div>
                                    </div>
                                 </div>
                               {% endif %}
                             {% endfor %}

                           </div>
                          </div>
                        {% endif %}

                        {% assign any_videos = 0 %}
                        {% assign videos = site.videos %}
                        {% assign videos = videos | sort: 'name' %}

                        {% for entry in videos %}
                           {% for tag in entry.tags %}
                            {% if tag == page.name %}
                              {% assign any_videos = 1 %}
                            {% endif %}
                           {% endfor %}
                        {% endfor %}

                        {% if any_videos == 1 %}
                          <div class="content">

                            <a name="videos"></a>
                            <H3>Videos</h3>

                            <div class="row clearfix">
                            {% for entry in videos %}

                               {% assign tag_match = 0 %}
                               {% for tag in entry.tags %}
                                {% if tag == page.name %}
                                  {% assign tag_match = 1 %}
                                {% endif %}
                               {% endfor %}

                               {% if tag_match == 1 %}
                                 <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                                    <div class="inner-box">
                                       <div class="image">{{ entry.embed }}</div>
                                       <div class="lower-box">
                                          <h3><a href="{{ entry.url }}">{{ entry.name }}</a></h3>
                                          <ul class="post-meta">
                                             <li><span class="icon fa fa-clock-o"></span>{{ entry.date | date: "%b %d, %y" }}</li>
                                          </ul>
                                          <div class="text">{{ entry.description | truncate: 395 | strip_html }}</div>
                                       </div>
                                    </div>
                                 </div>
                               {% endif %}
                             {% endfor %}

                           </div>
                          </div>
                        {% endif %}

                   </div>

                </div>

            </div>

          </div>

          <!--Sidebar Side-->
          <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
             <aside class="sidebar default-sidebar right-sidebar">

                {% include advertising/advertising-widget.html %}

                {% include tags/tags-widget.html %}

             </aside>
          </div>
       </div>
    </div>
 </div>
 <!--End Sidebar Page Container-->
