---
layout: default
---

 <!--Sidebar Page Container-->
 <div class="sidebar-page-container" style="padding-top: 25px;">
    <div class="auto-container">
       <div class="row clearfix">

          <!--Content Side-->
          <div class="content-side col-lg-8 col-md-12 col-sm-12">

             <div class="content">

                <div class="blog-single">
                   <div class="inner-box">

                      <div class="upper-box">
                         <ul class="breadcrumb-bar">
                            <li><a href="#">Home</a></li>
                            <li>Tags</li>
                            <li>{{ page.name }}</li>
                         </ul>
                         <h2>{{ page.name }}</h2>
                      </div>

                   </div>

                </div>

            </div>

          {% assign news = site.news %}
          {% assign any_news = 0 %}
          {% assign news = news | sort: 'date' | reverse %}

          {% for entry in news %}
             {% for tag in entry.tags %}
              {% if tag == page.name %}
                {% assign any_news = 1 %}
              {% endif %}
             {% endfor %}
          {% endfor %}

          {% if any_news == 1 %}
             <div class="content">

                <a name="news"></a>
                <H3>News</h3>

               <div class="row clearfix">

                {% for entry in news %}

                   {% assign tag_match = 0 %}
                   {% for tag in entry.tags %}
                    {% if tag == page.name %}
                      {% assign tag_match = 1 %}
                    {% endif %}
                   {% endfor %}

                   {% if tag_match == 1 %}
                     <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                        <div class="inner-box">
                           <div class="image">
                              <a href="{{ entry.source }}"><img src="{{ entry.image }}" alt="" /></a>
                              <div class="category"><a href="blog-single.html">all</a></div>
                           </div>
                           <div class="lower-box">
                              <h3><a href="{{ entry.source }}">{{ entry.title }}</a></h3>
                              <ul class="post-meta">
                                 <li><span class="icon fa fa-clock-o"></span>{{ entry.date | date: "%b %d, %y" }}</li>
                              </ul>
                              <div class="text">{{ entry.details | truncate: 395 | strip_html }}</div>
                              <a href="{{ entry.source }}" class="read-more">Read More </a>
                           </div>
                        </div>
                     </div>
                   {% endif %}
                 {% endfor %}

              </div>
              </div>

          {% endif %}

          {% assign service_providers = site.service-providers %}
          {% assign any_service_providers = 0 %}
          {% assign service_providers = service_providers | sort: 'x-rank' | reverse %}

          {% for entry in service_providers %}
             {% for tag in entry.tags %}
              {% if tag == page.name %}
                {% assign any_service_providers = 1 %}
              {% endif %}
             {% endfor %}
          {% endfor %}

          {% if any_service_providers == 1 %}
             <hr>
             <div class="content">

                <a name="service-providers"></a>
                <H3>Service Providers</h3><br>

                <div class="row clearfix">

                {% for entry in service_providers %}

                   {% assign tag_match = 0 %}
                   {% for tag in entry.tags %}
                    {% if tag == page.name %}
                      {% assign tag_match = 1 %}
                    {% endif %}
                   {% endfor %}

                   {% if tag_match == 1 %}
                    <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                      <div class="inner-box">
                         <div class="image">
                            <a href="{{ entry.url }}"><img src="{{ entry.image }}" alt=""></a>
                         </div>
                         <div class="lower-box">
                            <h3><a href="{{ entry.url }}">{{ entry.name }}</a></h3>
                            <ul class="post-meta">
                               <li><span class="icon fa fa-clock-o"></span>{{ entry.modified | date: "%b %d, %y" }}</li>
                            </ul>
                            <div class="text">{{ entry.description | truncate: 395 | strip_html }}</div>
                            <a href="{{ entry.url }}" class="read-more">Read More </a>
                         </div>
                      </div>
                    </div>
                   {% endif %}

                 {% endfor %}

               </div>
              </div>
            {% endif %}

            {% assign any_tools = 0 %}
            {% assign tools = site.tools %}
            {% assign tools = tools | sort: 'x-rank' | reverse %}

            {% for entry in tools %}
               {% for tag in entry.tags %}
                {% if tag == page.name %}
                  {% assign any_tools = 1 %}
                {% endif %}
               {% endfor %}
            {% endfor %}

            {% if any_tools == 1 %}
            <hr>
             <div class="content">

                <a name="tools"></a>
                <H3>Tools</h3>

                <div class="row clearfix">
                {% for entry in tools %}

                   {% assign tag_match = 0 %}
                   {% for tag in entry.tags %}
                    {% if tag == page.name %}
                      {% assign tag_match = 1 %}
                    {% endif %}
                   {% endfor %}

                   {% if tag_match == 1 %}
                     <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                        <div class="inner-box">
                           <div class="image">
                              <img src="{{ entry.image }}" alt="" />
                           </div>
                           <div class="lower-box">
                              <h3><a href="{{ entry.url }}">{{ entry.name }}</a></h3>
                              <ul class="post-meta">
                                 <li><span class="icon fa fa-clock-o"></span>{{ entry.modified | date: "%b %d, %y" }}</li>
                              </ul>
                              <div class="text">{{ entry.description | truncate: 395 | strip_html }}</div>
                              <a href="{{ entry.url }}" class="read-more">Read More </a>
                           </div>
                        </div>
                     </div>
                   {% endif %}
                 {% endfor %}

               </div>
              </div>
            {% endif %}

            {% assign any_videos = 0 %}
            {% assign videos = site.videos %}
            {% assign videos = videos | sort: 'x-rank' | reverse %}

            {% for entry in videos %}
               {% for tag in entry.tags %}
                {% if tag == page.name %}
                  {% assign any_videos = 1 %}
                {% endif %}
               {% endfor %}
            {% endfor %}

            {% if any_videos == 1 %}
              <hr>
              <div class="content">

                <a name="videos"></a>
                <H3>Videos</h3>

                <div class="row clearfix">
                {% for entry in videos %}

                   {% assign tag_match = 0 %}
                   {% for tag in entry.tags %}
                    {% if tag == page.name %}
                      {% assign tag_match = 1 %}
                    {% endif %}
                   {% endfor %}

                   {% if tag_match == 1 %}
                     <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                        <div class="inner-box">
                           <div class="image">{{ entry.embed }}</div>
                           <div class="lower-box">
                              <h3><a href="{{ entry.url }}">{{ entry.name }}</a></h3>
                              <ul class="post-meta">
                                 <li><span class="icon fa fa-clock-o"></span>{{ entry.date | date: "%b %d, %y" }}</li>
                              </ul>
                              <div class="text">{{ entry.description | truncate: 395 | strip_html }}</div>
                           </div>
                        </div>
                     </div>
                   {% endif %}
                 {% endfor %}

               </div>
              </div>
            {% endif %}

          </div>

          <!--Sidebar Side-->
          <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
             <aside class="sidebar default-sidebar right-sidebar">

                {% include social/social-widget.html %}

                {% include advertising/advertising-widget.html %}

                {% include topics/topics-widget.html %}

             </aside>
          </div>
       </div>
    </div>
 </div>
 <!--End Sidebar Page Container-->
