<!--Category Tabs Box-->
<div class="category-tabs-box">
  <!--Product Tabs-->
  <div class="prod-tabs tabs-box">
     <!--Tab Btns-->
     <div class="tab-btns tab-buttons clearfix">
        <div class="pull-left">
           <div class="category">The News</div>
        </div>
        <div class="pull-right">
           <div></div>
        </div>
     </div>
     <!--Tabs Container-->
     <div class="tabs-content">

        <!--Tab / Active Tab-->
        <div class="tab active-tab" id="prod-alls">
           <div class="content">
              <div class="row clearfix">

                {% assign news = site.news %}
                {% assign news = news | sort: 'date' | reverse %}
                {% for entry in news limit: 12 %}
                   <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                      <div class="inner-box">
                         <div class="image">
                            <a href="{{ entry.source }}"><img src="{{ entry.image }}" alt="" style="border: 8px solid #ccc; width: 100%; height: 200px;" /></a>
                         </div>
                         <div class="lower-box">
                            <h3><a href="{{ entry.source }}">{{ entry.title }}</a></h3>
                            <ul class="post-meta">
                               <li><span class="icon fa fa-clock-o"></span>{{ entry.date | date: "%b %d, %y" }}</li>
                            </ul>
                            <div class="text">{{ entry.details | truncate: 395 | strip_html }}</div>
                            <a href="{{ entry.source }}" class="read-more">Read More </a>
                         </div>
                      </div>
                   </div>
                 {% endfor %}

              </div>
           </div>
        </div>

     </div>
  </div>
</div>
<!--End Category Info Tabs-->
