<!--Tweet Widget-->
<div class="sidebar-widget tweet-widget">
   <div class="sec-title">
      <h2>Recent Tweets</h2>
   </div>
   <div class="single-item-carousel owl-carousel owl-theme">
      <div class="tweet-block">
         <div class="inner-box">
            <div class="tweet-icon">
               <span class="fa fa-twitter"></span>
            </div>
            <div class="text">Under a week until our iTunes redesign contest closes. Don't miss the chance to share in $2000 in valuable super prizes!</div>
            <div class="post-time">2 Hours Ago</div>
         </div>
      </div>
      <div class="tweet-block">
         <div class="inner-box">
            <div class="tweet-icon">
               <span class="fa fa-twitter"></span>
            </div>
            <div class="text">Under a week until our iTunes redesign contest closes. Don't miss the chance to share in $2000 in valuable super prizes!</div>
            <div class="post-time">2 Hours Ago</div>
         </div>
      </div>
      <div class="tweet-block">
         <div class="inner-box">
            <div class="tweet-icon">
               <span class="fa fa-twitter"></span>
            </div>
            <div class="text">Under a week until our iTunes redesign contest closes. Don't miss the chance to share in $2000 in valuable super prizes!</div>
            <div class="post-time">2 Hours Ago</div>
         </div>
      </div>
   </div>
</div>
